body {
    overflow: hidden;
}
.bubbles {
    position: absolute;
    bottom: -70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
}

.bubbles img {
    width: 150px;
    animation: bubble 7s linear infinite;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
    
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 40px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 30px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 7s;
    width: 80px;
}
.bubbles img:nth-child(6){
    animation-delay: 5s;
}
.bubbles img:nth-child(7){
    animation-delay: 1.8s;
    width: 25px;
}